mixin video(bgurl, gifurl, title, animation)
	section.main-video
		if animation == "wave"
			.wave-top
			.main-video__body(style=bgurl data-gif=gifurl)
				.container
					.main-video__title.block-title--white= title
					.btn-video-play(data-video="dQw4w9WgXcQ" onclick="videoplay(this)")
			//- .wave-bottom
		else
			.main-video__body(style=bgurl )
				.container
					.main-video__title.block-title--white= title
					.btn-video-play(data-video="dQw4w9WgXcQ" onclick="videoplay(this)")
